body {
  color: white;
  font-family: "Sugar Snow";

}

.pizzaSizes {
background-color: transparent;
border-color: transparent;
font-size: 30pt;
color:orangered;

}

div.hidden {
  display: none;
  font-size: 30pt;
}

span {
  font-size: 30pt;
  color: black;
}
.tip {
  background-color: transparent;
  color: rgb(94, 155, 123);
  font-size: 30pt;
}

button#startOrder {
  background-color: transparent;
  border-color: transparent;
}

.diningOption {
  color: white;
  font-size: 30pt;
}

.pizzaToppings {
  color: white;
  font-size: 30pt;
}

header {
  font-family: "Sugar Snow";
  text-align: center;
font-size: 40pt;
color: white;
}

html {
  background-color: pink;
  background-size: flex;
}

button {
background-color: transparent;
border-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: rgb(211, 255, 67);
  font-size: 40pt;
}
