

body {
  font-family: "coffecake"; 
  text-align: center;
}

div h1{
  color: rgba(136, 157, 87, 0.866);

}
div#summary{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  color: black;
  font-size: 25pt;
  font-family: "arial"; 

}


header h1{
  background-color:transparent;
  font-size: 80pt;
}

header a{
font-family: "coffecake"; 
  color: rgb(248, 132, 93);
text-decoration: solid

}


img {
  border-radius: 50%;

}

form{
  border-radius: 15pt;
  color: black;
  font-size: 15pt;
  background-color: rgba(255, 255, 255, 0.759);
  padding: 5pt;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}



input {
  border-color: rgb(107, 138, 61);
  border-radius: 10pt;
  padding:10pt;
  margin-bottom: 3pt;
  font-size: 15pt;
  background-color: transparent;
  color: black;
  font-family: "arial"; 

}



button {
margin: 5%;
border-color: transparent;
  color: rgba(243, 105, 66, 0.775);
  font-size: 30pt;
  font-family: "coffecake";
background-color: transparent
};

 p {
  text-align: center;
 }


 html {
  background-color: rgb(230, 230, 230);
  background-image: url(/IMG/random1-1.png);
  background-size: cover;
 }